<div class="mt-4">
    <form method="POST" action="">
      <div class="form-group">
        <label for="search-input">Từ khóa</label>
        
        <select class="form-control" name="gender" id="gender-option">
            <option value="">--chọn giới tính---</option>
            <option value="male">Nam</option>
            <option value="female">Nữ</option>
        </select>
      <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>